
.counter {
    padding: 10px;
}

.counter-controls  {
    text-align: center;
    width: auto;
}
.counter-controls > p  {
     color: green;
    
}
.counter-controls > button {
    padding: 20px;
    background-color:  red;
    border-radius: 20px;
}
.counter-controls {
    padding: 10px;
  
}
.App > p  {
    text-align: center;
    
}

.App > p >strong>b {
    color: green;
}

.App > h1 {
    text-align: center;
    font-family: cursive;
}


